@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/_UILayout.cshtml";
}

@await Component.InvokeAsync("_UserSidebarComponentPartial")



        <div class="col-10">
            Profil Bilgileri
        </div>
    </div>
</div>